<%- include('../partials/header'); %>
<div class="relative md:ml-64 bg-blueGray-50">
    


</div>
<% if(data.length) { %>
    <div class="flex justify-around ">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Tipo</label>
            <form action="/update" method="POST">
                <input id="prod_id" name="prod_nombre" value="<%= data.prod_id %>" hidden>
                
               <div class="mb-3">
                 <label for="prod_id" class="form-label">producto</label>
                 

                 <select name="prod_nombre">
                    <option value ="prod_id"></option>
                   

                 </select>
               </div>                                                              
               <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
               <a href="/" class="btn btn-secondary">Cancelar</a>
           </form>   
          
    
    

</div>
</div>
</div>
<% } %>
</div>


